body {

}

.site-sidenav {

  min-height: 90%;

  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 256px !important;
    width: 256px !important;
    max-width: 256px !important;
  }

  md-icon {
    position: relative;
    top: 2px; // adjust for svg viewbox}
    //padding: 40px;
  }
}
